[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pytelegrambotapi = "*"
autopep8 = "*"
loguru = "*"
numpy = "*"
pandas = "*"
jupyter = "*"
ipykernel = "*"
pytesseract = "*"
opencv-python = "*"

[dev-packages]

[requires]
python_version = "3.10"
